.form-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: #131324;
}

.form-container .brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.form-container .brand img {
  height: 5rem;
}

.form-container .brand h1 {
  color: white;
  text-transform: uppercase;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #00000076;
  border-radius: 2rem;
  padding: 3rem 5rem;
}

.form-container form input {
  background-color: transparent;
  padding: 1rem;
  border: 0.1rem solid #4e0eff;
  border-radius: 0.4rem;
  color: white;
  width: 100%;
  font-size: 1rem;
}
.form-container form input.success {
  border-color: #39ff14;
  &:focus {
    border-color: #39ff14;
  }
}

.form-container form input.danger {
  border-color: #ff3131;
  &:focus {
    border-color: #ff3131;
  }
}

.form-container form input:focus {
  border: 0.1rem solid #997af0;
  outline: none;
}

.form-container form span {
  color: white;
  text-transform: uppercase;
}

.form-container form span a {
  color: #4e0eff;
  text-decoration: none;
  font-weight: bold;
}

.form-container label {
  display: block;
  margin: 10px 0 0 5px;
  transition: 0.3s ease-in-out;
  height: 0.5rem;
}
.form-container label.success {
  color: #39ff14;
}

.form-container label.danger {
  color: #ff3131;
}
